.chk{
    border: 1.5px solid #00b8f5;
    border-radius: 5px;
    height: 28px;
    width: 28px;
    margin: 10px;
    color: #fff;
    cursor: pointer;
    font-size: 10px;
    line-height: 10px;
}
.chk:hover{
    /* background-color: #00b8f5; */
    box-shadow: 0px 0px 50px 5px #00b8f5;
}
.con{
    margin-top: 100px;
    margin-left: 100px;
    overflow: hidden;
}
.btn1{
    position: relative;
    left: 520px;
    top: 10px;
}
.btn1 button{
    height: 40px;
    width: 170px;
    background-color: #00b8f5;
    color: rgb(12, 97, 119);
    font-weight: bold;
    font-size: 20px;
    border-radius: 10px;
}
.btn1 button:hover{
    box-shadow: 0px 0px 10px 0px #00b8f5;

}